---
const projects = [
  {
    title: 'Cuality Team',
    description:
      'Explora Cuality Team: tu biblioteca virtual de videojuegos, similar a Steam. Encuentra títulos únicos como Fall of the Gods, un juego de pixel art 2D ambientado en la mitología griega, creado por nuestra propia empresa. ¡Sumérgete en mundos épicos y descubre juegos extraordinarios!',
    imageUrl: 'https://contextoportfolio.netlify.app/projects/CualityTeam.webp',
    pageUrl: '/project1'
  },
  {
    title: 'Cuality Team',
    description:
      'Explora Cuality Team: tu biblioteca virtual de videojuegos, similar a Steam. Encuentra títulos únicos como Fall of the Gods, un juego de pixel art 2D ambientado en la mitología griega, creado por nuestra propia empresa. ¡Sumérgete en mundos épicos y descubre juegos extraordinarios!',
    imageUrl: 'https://contextoportfolio.netlify.app/projects/CualityTeam.webp',
    pageUrl: '/project2'
  }
  // Add more projects as needed
]
---

<!-- 
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  {
    projects.map((project) => (
      <div class="relative group">
        <img
          src={project.imageUrl}
          alt={project.title}
          class="w-full h-64 object-cover rounded-lg shadow-md"
        />
        <div class="absolute inset-0 -bg-color-primary bg-opacity-70 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col justify-center items-center text-white p-4 rounded-lg">
          <h3 class="text-lg font-bold mb-2">{project.title}</h3>
          <p class="mb-4">{project.description}</p>
          <a
            href={project.pageUrl}
            class="-bg-color-primary hover:-bg-color-tertiary text-white font-bold py-2 px-4 rounded"
          >
            View Page
          </a>
        </div>
      </div>
    ))
  }
</div> -->
<div class="space-y-8 mt-10 w-4/5 mx-auto">
  {
    projects.map((project) => (
      <div class="flex flex-col md:flex-row items-center">
        <img
          src={project.imageUrl}
          alt={project.title}
          class="w-full md:w-1/2 h-auto object-cover rounded-lg shadow-md min-w-[50%]"
        />
        <div class="md:ml-6 mt-4 md:mt-0 flex flex-col justify-center items-start text-primary p-4 rounded-lg">
          <h3 class="text-3xl text-opacity-95 -text-color-tertiary font-medium mb-2">
            {project.title}
          </h3>
          <p class="mb-4">{project.description}</p>
          <a
            href={project.pageUrl}
            class="bg-opacity-60 -bg-color-tertiary hover:-bg-color-secondary -text-color-secondary hover:-text-color-primary font-medium py-2 px-4 rounded transition-colors"
          >
            Ver pagina
          </a>
        </div>
      </div>
    ))
  }
</div>
