---
const projects = [
  {
    title: 'Cuality Team',
    description:
      'Explora Cuality Team: tu biblioteca virtual de videojuegos, similar a Steam. Encuentra títulos únicos como Fall of the Gods, un juego de pixel art 2D ambientado en la mitología griega, creado por nuestra propia empresa. ¡Sumérgete en mundos épicos y descubre juegos extraordinarios!',
    imageUrl: '/CualityTeam.webp',
    pageUrl: 'https://cualityteam.netlify.app/'
  },
  {
    title: 'Pretty Woman',
    description:
      '¡Libera tu potencial con la Agencia Pretty Woman! Dile adiós al estrés laboral y las complicaciones de encontrar el trabajo perfecto; estamos aquí para simplificar el proceso. Nuestra misión es conectar tus habilidades únicas con las oportunidades laborales que te inspiren y te motiven a alcanzar tus metas profesionales.',
    imageUrl: '/PrettyWomanIMG.webp',
    pageUrl: 'https://prettywomanagencia.com/'
  }
  // Add more projects as needed
]
---

<section class="space-y-8 mt-10 w-full sm:w-4/5 mx-auto" id="Projectos">
  <h2 class="text-center mb-12">Proyectos Destacados</h2>
  {
    projects.map((project) => (
      <div class="flex flex-col md:flex-row items-center">
        <img
          src={project.imageUrl}
          alt={project.title}
          class="w-full md:w-1/2 min-h-40 h-auto object-cover rounded-lg shadow-md min-w-[50%]"
        />
        <div class="md:ml-6 mt-8 md:mt-0 flex flex-col justify-center items-start text-primary rounded-lg">
          <h3 class="text-3xl text-opacity-95 -text-color-tertiary font-medium mb-2">
            {project.title}
          </h3>
          <p class="mb-4 text-pretty">{project.description}</p>
          <a
            href={project.pageUrl}
            class="bg-opacity-60 -bg-color-tertiary hover:-bg-color-secondary -text-color-secondary hover:-text-color-primary font-medium py-2 px-4 rounded transition-colors"
            target="_blank"
          >
            Ver pagina
          </a>
        </div>
      </div>
    ))
  }
</section>
